@use "./ResponsiveCSS" as *;

// Root variables for light and dark mode colors
:root {
	--primary-background-color: rgb(255, 253, 255);
	--secondary-background-color: rgb(5, 21, 109);
	--text-color: black;
	--border-color: 2px solid white;
	--font-family: "Brush Script MT", sans-serif;
	--a-color: white;
}

// Reset default styles for all elements
* {
	box-sizing: border-box;
	margin: 0;
	padding: o;
}

// Body styles for light and dark mode
body {
	background-color: var(--primary-background-color);
	color: var(--text-color);
	font-size: var(--font-family);
}


// Main container styles for light and dark mode
.main--container {
	background-color: var(--primary-background-color);
	width: 100vw;
}

// Anchor (link) styles for light and dark mode
a {
	text-decoration: none;
	font-size: 34;
	font-weight: 800;
	color: var(--a-color);
}

// Hover styles for links in light and dark mode
a:hover {
	color: rgb(34, 117, 184);
	-webkit-text-stroke: 0.2px white;
}


